#terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform/crash.log
terraform.tfstate.d/
*.tfvars
modules/backend/*


#certs
**/*.crt
**/*.csr
**/*.key
**/*.pfx

azurerm-backend.config
